.topButton{
    -fx-background-color: #040F16;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.topButton:hover{
    -fx-background-color: #FAC748;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

#importCSVButton{
    -fx-background-size: 0;
    -fx-pref-width: 280;
    -fx-pref-height: 50;
    -fx-cursor: hand;
    -fx-background-color: #FAC748FF;
    -fx-font-size: 18;
}

.square{
    -fx-fill: rgb(169,169,169, 0.2);

}